.loader {
    transform: scale(5);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (max-width: 974px) {
    .empty-result {
        display: block;
        margin: 0 auto;
        width: 116px;
    }
    .loader {
        transform: scale(4);
    }
}